// base styles
body {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	font-family: 'SpaceMono', sans-serif;
	background-color: var(--color-bg);
	color: var(--color-text);
}

section,
footer {
	display: flex;
	flex-direction: column;
	gap: var(--gap-xs);
}

input {
	height: 100%;
}
